<%- include('./header'); %>

<section class="hero is-warning is-small">
    <div class="hero-body">
      <p class="title">
        FICHE PNJ
      </p>
      
    </div>
  </section>
<%- include('./navbar'); %>

<!-- style -->


<!-- table -->


<p>affichage du perso de <b><%- manipPNJ.nom.PNJ %></b> :</p>
    


<%- include('./footer'); %>