<!DOCTYPE html>
<html lang="fr">

<title>titre 1</title>
<link rel="stylesheet" href="/assets/bulma/bulma.min.css">

<!-- bootstrap -->
<script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
<link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<body>



    <% if (locals.flash && locals.flash.error) { %>
    <span class="tag is-danger is-large"><%= flash.error %></span>
    <!--<script>alert ("<%- flash.error %>")</script> -->
    <% } %>
    <% if (locals.flash && locals.flash.valid) { %>
        <span class="tag is-success is-large"><%= flash.valid %></span>
    <% } %>

    


