<%- include('./header'); %>

<section class="hero is-link is-small">
    <div class="hero-body">
        <p class="title">
            ACCEUIL
        </p>

    </div>
</section>
<%- include('./navbar'); %>

<div style="display: flex; justify-content: center">
    <iframe src="https://mario-kart-3-js.vercel.app/#r=RLZCP" style="height:1000px;width:1000px;" title="description"></iframe>
</div>





<%- include('./footer'); %>



