
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-item" href="/">

      <img src="<%= urlAvatar%>" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">
          Acceuil
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/bonus">
            attribut PNJ / bonus/malus
          </a>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/perso"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Joueur
          </a>
          <ul class="dropdown-menu">

            <%  Object.entries(joueurs).forEach(element => { %>
              <li><a class="dropdown-item" href="/perso?perso=<%= element[0] %>">  <%= element[1].joueur %> | <%= element[1].nom %></a></li>
            <% }) %>


          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/changer">
            PNJ
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 