<%- include('./header'); %>


<section class="hero is-danger is-small">
    <div class="hero-body">
      <p class="title">
        ERREUR <%= erreur %> :  <%= type %>
      </p>
      
    </div>

    
  </section>
  <form action="/"><button class="button" value="acceuil">acceuil</button></form>

  


<%- include('./footer'); %>